<!DOCTYPE html>
<html>
  <head>
    <title>Image Converter</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/jpgtopng">JPG to PNG converter</a></li>
        <li><a href="/pngtojpg">PNG to JPG converter</a></li>
        <li><a href="/webptopng">WEBP to PNG converter</a></li>
        <li><a href="/bmptopng">BMP to PNG converter</a></li>
        <li><a href="/pngtopdf">PNG to PDF converter</a></li>
      </ul>
    </div>
  </body>
</html>